*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
    background-image:url(https://images.app.goo.gl/FFbuJUE7aXFmchkJ9);
    background: size 1px;;
    background-image:var();

}




body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #494948;
    background-image: url("paper.gif");
}



.india h1{
    font-size: 10rem;
    margin-top: 2rem;
    font-weight: 10rem;
    font-style: normal;

   
}

.india h2{
    font-size: 6rem;

   
}

.container{
    position: relative;
    
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(98, 42, 42, 0.1);
    border: 2px solid rgba(22, 6, 6, 0.25);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i))); 
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}

.india h1{
    color: rgb(250, 250, 250);
    font-size: 200px;
    font-weight: 200;
    
}

.india h2{
    color: red;
    font-size: 80px;
    font-weight: 200rem;
    font-variant: small-caps;
    font-kerning: inherit;
}

header{
    background: var(--dark);
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 10 100%);
}